@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  border: 0;
  margin: 0; 
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%);

  
}

.header{  
  margin-top: 2em;
  text-align: center;
}

.header .main-title {
  font-weight: 200; 
}

.header h2,
.card h3 {
  color: hsl(234, 12%, 34%); 
}

.header h2 {
  font-size: 1.5rem;
}

.header p {
  padding: 0.5em;
  width: 308px;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid lightgray;
  margin-top: 2em;
  padding: 1em;
  width: 295px;

}






