@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  border: 0;
  margin: 0; 
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%); /* Grayish Blue */

  background: hsl(0, 0%, 98%);

}

.header{  
  margin-top: 2em;
  text-align: center;
}

.header .main-title {
  font-weight: 200; 
}

.header h2,
.card h3 {
  color: hsl(234, 12%, 34%); /* Very Dark Blue: */
}

.header h2 {
  font-size: 1.5rem;
}

.header p {
  padding: 0.5em;
  width: 308px;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 1.5em; 
  padding: 1.5em;
  width: 295px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em rgba(101, 135, 190, 0.3);
} 

.card img {
  display: block;
  width: 45px;
  margin-left: auto;
}

.card .img-container {
  margin-top: 2em;
}

.card .header-card p {
 
  font-size: 0.810rem;
}

.cards-container .blue {
  margin-bottom: 4em;
}
.cards-container .cyan {
  margin-top: 4em;
}

.cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.red {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}
.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {

  

  .row {
    display: flex;
    align-items: center;
  }
  .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
 
.card {
  margin: 1em;
}
.cards-container {
  height: 550px;
  justify-content: flex-end;
}

.cards-container .blue {
  /* Reset Card Blue */
  margin-bottom: 1em;
}
.cards-container .cyan {
  margin-top: 0em;
}
}